.HomeButton {
    background-image: url(/src/app/static/HomeIcon.svg);
    width: 65px;
    height: 65px;
    background-repeat: no-repeat;
    -webkit-filter: drop-shadow(3px 3px 3px #333);
    filter: drop-shadow(3px 3px 3px #333);
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}
