.HomeButton {
    width: 65px;
    height: 65px;
    filter: drop-shadow(3px 3px 3px #333);
    cursor: pointer;
    position: absolute;
    left: 150px;
    appearance: button;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 5px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
    color: initial;
}
